.footer__links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 18px;
  padding: 0;
  padding-right: 18px;
  margin: 0;
}

@media screen and (max-width: 435px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
  }
}