.place__link {
  text-decoration: underline;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 768px) {
  .place__link {
    font-size: 18px;
  }
}

@media screen and (max-width: 435px) {
  .place__link {
    padding: 0 16px;
  }
}