.place__url-heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #AAAAAA;
  margin: 0;
  padding: 0 0 12px;
  text-transform: uppercase
}

@media screen and (max-width: 435px) {
  .place__url-heading {
    font-size: 12px;
    padding: 0 16px 12px;
  }
}